{% extends 'base_layout.html' %}

{% block content %}

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"  id="loginbody">
      <h3>Login here</h3>
      <hr>
      <form class="" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        {% if request.GET.next %}

          <input type="hidden" name="next" value="{{ request.GET.next }}">

        {% endif %}

        <div class="text-center">
          <button type="submit" class="btn btn-primary" id="loginbutton">Login</button>
        </div>



        <!-- <input type="submit" value="Login">
        <br>
        Not a Member?<a href="{% url 'accounts:signup' %}">Signup</a> -->

        <!-- <button type="submit" class="btn btn-primary">Login</button> -->
      </form>
      <br>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>


{% endblock %}
